.About{ 
    // background-color: #fec84e;
    // background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    // height:250px;
    // padding: 150px 0 0 0;
    // margin: -75px;

    // padding:25px 0 100px 0;
    // margin-bottom:-50;

    margin:50px;
    p{ 
        width: 55%;
        margin: 0 auto;
    }
}